// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-wrap {
  position: absolute;
  right: -600px;
  width: 63%;
  display: flex;
  justify-content: center;
}

.collection-modal-right.hide {
  opacity: 0;
}

.collection-modal-wrap {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.collection-modal-right {
  width: 63%;
  padding: 0 45px 40px;
  overflow-x: hidden;
}

.collection-modal-left {
    width: 37%;
}

.collection-modal-container {
  display: flex;
  justify-content: center;
  position: absolute;
}

.collection-modal-right a {
  padding: 26px 19px;
  border: 2px dashed #ddd;
  font-size: 21px;
  line-height: 22px;
  color: #999;
  display: block;
  margin-bottom: 12px;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-weight: bold;
}

.collection-modal-right h1 {
  font-size: 28px;
  margin: 28px 0 28px 0;
}

.collection label {
  display: flex;
  flex-direction: column;
}

.collection input:not([type=submit]) {
  width: 100%;
}

.collection-btn-wrap {
  display: flex;
  flex-direction: row-reverse;
}

.collection-btn-wrap div {
  width: 50%;
}

.collection-container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 17px;
  color: white;
  margin-bottom: 12px;
  border-radius: 5px;
  transition: all .15s ease-in-out;
}

.collection-container h3, h6 {
  margin: 0;
}

.collection-container h6 {
  opacity: 0.6;
}

.collection.form input:not([type=submit]) {
  border-radius: 3px;
  border: 1px solid #999;
  font-size: 15px;
  height: 40px;
}

form.collection.form {
  width: 80%;
}

.collection.form input[type=submit] {
  height: 44px;
  padding: 0 19px;
  background-color: #111;
  color: white;
  font-size: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.collection-btn-wrap {
  display: flex;
  align-items: center;
}

.collection.form a {
  color: #999;
  text-decoration: underline;
  transition: all .15s ease-in-out;
}

.collection.form a:hover {
  color: #111;
  cursor: pointer;
}

.collection-btn-wrap div:first-child {
  display: flex;
  justify-content: flex-end;
}

.form-wrap h1 {
  font-size: 28px;
  color: #111;
  font-weight: 700;
  margin: 35px 0 35px 0;
}

.form-wrap label {
  margin: 35px 0 35px 0;
}
