
.inner-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-container img {
  width: 76vw;
}

.inner-index-container, .grid-index-container {
  text-align: center;
  margin-bottom: 60px;
}

.inner-index-container h1, .grid-index-container h1 {
  font-size: 46px;
  margin: 0 0 24px;
}

.inner-index-container a, .grid-index-container a {
  font-size: 15px;
  color: #999;
}

.inner-index-container p, a.submit-link, .grid-index-container p {
  margin: 0 0 12px;
}

a.profile-download-btn {
  height: 32px;
  border: 1px solid transparent;
  border-color: #ddd;
  color: #999;
  text-decoration: none;
  font-weight: 700;
  border-radius: 6px;
  float: right;
  padding: 0 11px;
  font-size: 11px;
  text-transform: uppercase;
}

.profile-container {
  width: 76vw;
  margin: 20px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-container a {
  color: #999;
  display: flex;
  align-items: center;
}

.profile-container img {
  width: 15px;
  height: 15px;
}

a.like-btn {
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 11px;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 6px;

  text-decoration: none;
  float: left;
}

a.like-btn img {
  margin-right: 5px;
}

.collect-btn {
  height: 30px;
  border: 1px solid transparent;
  border-color: #ddd;
  color: #999;
  text-decoration: none;
  font-weight: 700;
  border-radius: 6px;

  float: right;
  padding: 0 11px;
  font-size: 11px;
  text-transform: uppercase;
  margin-left: 5px;
}

.photo-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.photo-submit-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-submit-form input[type="submit"] {
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  padding: 9px 18px;
  font-size: 15px;

  border-radius: 6px;
  color: white;
  background-color: black;
  width: 120px;
  margin: 100px 0 15px 0;
}

.photo-submit-form input[type="file"] {
  width: 175px;
}

.photo-submit-form h1 {
  margin-bottom: 20px;

  font-size: 46px;
}

.photo-submit-form p {
  font-size: 15px;

}

.photo-submit-form p:nth-child(3) {
  font-size: 12px;
  margin-top: 20px;
}

p.upload-length {
  font-size: 12px;
  color: #999999;
}

#img:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.fullscreen {
  z-index: 2147483647;
  position: absolute;
  top: 0;
  height: 100%;
  margin: 0;
  width: 96%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.fullscreen a {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid transparent;
  color: #777;
  fill: #777;
  margin-top: 10px;
}

.fullscreen .image-user {
  background-color: transparent;
  color: #fff;
  position: absolute;
  right: 93%;

}

.fullscreen > a:not(.image-user) {
  margin-left: 5px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-photo-container {
  column-count: 3;
  column-gap: 0px;
  width: 76vw;
}

.grid-item-container {
  width: 100%;
  float: left;
  height: auto;
}

.grid-item-container img {
  width: 100%;
  height: auto;
  margin: 10px 20px 10px 20px;
}

.inner-photo-form-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}

.inner-photo-form-wrap label {
  width: 45%;
}

.description-wrap {
  width: 100%;
  margin-bottom: 30px;
}

.search-input {
  text-align: center;
  text-transform: uppercase;
}

.navtab-wrap {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  width: 100%;
}

.inner-navtab-wrap {
  width: 50%;
  text-align: center;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
}

.inner-navtab-wrap a {
  font-size: 18px;
  width: 25%;
  padding: 14px 5px 15px;
}
