.search-result-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inner-result-wrap {
  width: 84%;
}

.search-result-wrap h1 {
  text-transform: capitalize;
  font-size: 46px;
  font-weight: bold;
  color: #111;
  margin-bottom: 45px;
}

.navtab-wrap a {
  color: #999;
  font-size: 20px;
  margin-right: 20px;
  transition: color .2s ease-in-out,opacity .2s ease-in-out;
}

.navtab-wrap {
  margin-bottom: 30px;
}

a.active {
  cursor: default;
  pointer-events: none;
  color: #111;
}

.navtab-wrap a:hover {
  color: #111;
  cursor: pointer;
  text-decoration: none;
}

.result-wrap {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.collection-item {
  width: 31.8%;
  height: 250px;
  position: relative;
  margin: 0.6%;
  border-radius: 6px;
}

.user-item {
  width: 31.8%;
  height: 250px;
  margin: 0.6%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: border-color .2s ease-in-out;
  padding: 15px;
}

.user-item h1 {
  font-size: 18px;
  margin: 21px 0px 20px 0px;
}

.user-item p {
  font-size: 15px;
  color: #999;
}

.collection-item::before {
  background-color: rgba(0,0,0,.25);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 6px;
}

.user-item > div:last-child > div {
  height: 80px;
  display: inline-block;
  width: 30%;
  margin: 1%;
}


.collection-item p {
  color: #fff;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0,0,0,.15);
  opacity: .6;
}

.collection-item h1 {
   color: white;
   font-size: 24px;
   font-weight: 600;
   margin-top: 10px;
}

.collection-item div {
  position: absolute;
  padding: 28px 30px 30px;
}

.collection-item div > p:last-child {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.04);
  font-size: 15px;
  position: relative;
  top: 70px;
}
